# ==============================================================================
# Environment Variables.
# - For defaults and in-depth docs, check `config.private.ts` and `config.public.ts`
# ==============================================================================

DATABASE_URL="file:/<absolute_url>/local.db"
